{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Contraseña cambiada" %}{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-background">
    <c-card class='w-[400px]'>
        <c-card.header>
            <c-card.title>{% trans "Contraseña cambiada" %}</c-card.title>
            <c-card.description>
                {% trans "Tu contraseña se cambió correctamente. Ya puedes iniciar sesión con tu nueva contraseña." %}
            </c-card.description>
        </c-card.header>

        <c-card.footer class='flex flex-col space-y-3 pt-6'>
            <c-button onclick="window.location.href='{% url 'account_login' %}'" class="w-full">
                {% trans "Iniciar sesión ahora" %}
            </c-button>
        </c-card.footer>
    </c-card>
</div>
{% endblock %}
