{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Registro cerrado" %}{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-background">
    <c-card class='w-[400px]'>
        <c-card.header>
            <c-card.title>{% trans "Registro cerrado" %}</c-card.title>
            <c-card.description>
                {% trans "Lo sentimos, el registro está cerrado actualmente." %}
            </c-card.description>
        </c-card.header>

        <c-card.footer class='flex flex-col space-y-3 pt-6'>
            <c-button onclick="window.location.href='{% url 'account_login' %}'" class="w-full" variant="outline">
                {% trans "Volver a iniciar sesión" %}
            </c-button>
        </c-card.footer>
    </c-card>
</div>
{% endblock %}
