<c-vars src alt class></c-vars>
{% if src %}
    <img
        src="{{ src }}"
        {% if alt %}alt="{{ alt }}"{% endif %}
        class="
            size-24
            shrink-0
            rounded-full
            object-cover
            {% if class %}
            {{ class }}
            {% endif %}
        "
        {{ attrs }}
    >
{% else %}
    <div class="
        flex
        size-24
        shrink-0
        items-center
        justify-center
        rounded-full
        border
        border-border
        bg-muted
        text-muted-foreground
        {% if class %}
        {{ class }}
        {% endif %}
        "
        {{ attrs }}
    >
        <c-icon.image_off class="size-10"/>
    </div>
{% endif %}
